<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

        <div class="container">

            <a class="navbar-brand m-0 p-0" asp-controller="Home" asp-action="Index">
                <img src="~/images/amigos.png" style="height:80px;" />
            </a>

            <ul class="navbar-nav">

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">

                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                            <ul class="navbar-nav flex-grow-1">

                                @if (User.IsInRole(nameof(Rol.Cliente)))
                                {
                                    <li class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="menuOpciones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <b>@User.FindFirstValue(ClaimTypes.GivenName)</b>
                                            <b>@User.FindFirstValue(ClaimTypes.Surname) </b>
                                            <span class="caret ml-1"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="menuOpciones">
                                            <a class="dropdown-item" asp-controller="Clientes" asp-action="Details" asp-route-id=@User.FindFirstValue(ClaimTypes.NameIdentifier)>Mis datos</a>
                                            <a class="dropdown-item" asp-controller="Clientes" asp-action="Editarme">Actualizar Mis datos</a>
                                            <hr />
                                            <a class="dropdown-item" asp-controller="Compras" asp-action="ComprasRealizadas">Mis Compras Realizadas</a>
                                        </div>
                                    </li>

                                    <li class="nav-item">
                                        <a class="navbar-brand m-0 p-0" asp-controller="CarritoItems" asp-action="MisItems">
                                            <img src="~/images/carrito.png" style="height:40px;" />
                                        </a>
                                    </li>
                                }

                                @if (User.IsInRole(nameof(Rol.Empleado)))
                                {
                                    <li class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="menuOpciones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span> @User.FindFirstValue(ClaimTypes.GivenName) </span>
                                            <span> @User.FindFirstValue(ClaimTypes.Surname) </span>
                                            <span class="caret ml-1"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="menuOpciones">
                                            <a class="dropdown-item" asp-controller="Empleados" asp-action="Details" asp-route-id=@User.FindFirstValue(ClaimTypes.NameIdentifier)>Mis datos</a>
                                            <a class="dropdown-item" asp-controller="Empleados" asp-action="Editarme">Actualizar Mis datos</a>
                                        </div>
                                    </li>

                                    <li class="dropdown">

                                        <button class="btn dropdown-toggle" type="button" id="menuOpciones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ¿Que deseas Hacer? <span class="caret ml-1"></span>
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="menuOpciones">
                                            <h6 class="dropdown-item"><b> Listar: </b></h6>
                                            <a class="dropdown-item" asp-controller="Compras" asp-action="ComprasDelMes">Compras del Mes</a>
                                            <a class="dropdown-item" asp-controller="Compras" asp-action="ComprasHistorialPorFecha">Historial de Compras</a>
                                            <a class="dropdown-item" asp-controller="Sucursales" asp-action="Index">Sucursales</a>
                                            <a class="dropdown-item" asp-controller="StockItems" asp-action="Index">Stock Por Sucursal</a>
                                            <a class="dropdown-item" asp-controller="Categorias" asp-action="Index">Categorias</a>
                                            <a class="dropdown-item" asp-controller="Productos" asp-action="Index">Productos</a>
                                            <hr />
                                            <a class="dropdown-item" asp-controller="Empleados" asp-action="Create"><b>Nuevo Empleado</b></a>
                                            <hr />
                                            <a class="dropdown-item" asp-controller="StockItems" asp-action="AgregarStock"><b>Agregar Stock Sucursal</b></a>
                                        </div>
                                    </li>
                                }

                                @if (User.IsInRole(nameof(Rol.Administrador)))
                                {
                                    <li class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" id="menuOpciones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="text-info"> @User.FindFirstValue(ClaimTypes.GivenName) </span>
                                            <span class="caret ml-1"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="menuOpciones">
                                            <a class="dropdown-item" asp-controller="Administradores" asp-action="Details" asp-route-id=@User.FindFirstValue(ClaimTypes.NameIdentifier)>Mis datos</a>
                                            <a class="dropdown-item" asp-controller="Administradores" asp-action="Edit" asp-route-id=@User.FindFirstValue(ClaimTypes.NameIdentifier)>Actualizar Mis datos</a>
                                        </div>
                                    </li>

                                    <li class="dropdown">

                                        <button class="btn dropdown-toggle" type="button" id="menuOpciones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            ¿Que deseas Hacer? <span class="caret ml-1"></span>
                                        </button>

                                        <div class="dropdown-menu" aria-labelledby="menuOpciones">
                                            <h6 class="dropdown-item"><b> Listar: </b></h6>
                                            <a class="dropdown-item" asp-controller="Clientes" asp-action="Index">Clientes</a>
                                            <a class="dropdown-item" asp-controller="Empleados" asp-action="Index">Empleados</a>
                                            <a class="dropdown-item" asp-controller="Sucursales" asp-action="Index">Sucursales</a>
                                            <a class="dropdown-item" asp-controller="Categorias" asp-action="Index">Categorias</a>
                                            <a class="dropdown-item" asp-controller="Productos" asp-action="Index">Productos</a>
                                        </div>
                                    </li>
                                }

                                <li class="nav-item">
                                    <div>
                                        <form id="logoutForm" method="post" asp-controller="Accesos" asp-action="Salir">
                                            <button type="submit" class="dropdown-item">Salir</button>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Productos" asp-action="Index">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Sucursales" asp-action="Index">Sucursales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Accesos" asp-action="Ingresar">Ingresar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Clientes" asp-action="Create">Registrate</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>