@model List<CarritoItem>

@{
    ViewData["Title"] = "MisItems";
}

<div class="row">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Resumen de tu Carrito :  </h5>
            <div>
                Items Agregados: <b> @Model.Count </b>
            </div>
            <div>
                Cantidad de Productos : <b>@Model.Sum(m => m.Cantidad)</b>
            </div>
            <div>
                SubTotal de todas tus compras : <b>$@Model.Sum(s => s.Subtotal)</b>
            </div>
        </div>
    </div>
</div>
<br />

<div>
    <a class="btn btn-outline-info" asp-Controller="Productos" asp-action="Index">Comprar</a>
    <a class="btn btn-outline-success" asp-Controller="Carritos" asp-action="Details" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Finalizar Compra</a>
    <a class="btn btn-outline-danger" asp-controller="Carritos" asp-action="VaciarCarrito">Vaciar Carrito</a>
</div>
<br />

<h5><b>Detalles de tus compras</b></h5>
<br />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Nombre Producto
            </th>
            <th>
                Precio Unitario
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Subtotal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (CarritoItem misItems in Model)
        {
            <tr>
                <td>
                    @misItems.Producto.Nombre
                </td>
                <td>
                    $ @misItems.Producto.PrecioVigente
                </td>
                <td>
                    @misItems.Cantidad
                </td>
                <td>
                    $ @misItems.Subtotal
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@misItems.Id">Editar</a>
                    <a class="btn btn-outline-danger" asp-action="Eliminar" asp-route-id="@misItems.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>