@model tp_nt1.Models.Producto

@{
    ViewData["Title"] = "Producto";
}

<h1>Datos del Producto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioVigente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioVigente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar datos</a>
    <a class="btn btn-outline-info" asp-action="Index">Lista Productos</a>
</div>
