@model IEnumerable<tp_nt1.Models.Administrador>

@{
    ViewData["Title"] = "Administradores";
}

<a class="btn btn-outline-dark"asp-action="Create"><b>Nuevo Administrador</b></a>
<hr />

<h4><b>Administradores</b></h4>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Ver Detalle</a> 
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>