@model IEnumerable<tp_nt1.Models.Administrador>

@{
    ViewData["Title"] = "Lista Administradores";
}

<h3 class="text-center">Lista de Administradores del Sistema</h3>
<hr />

<p><a asp-action="Create"><b>Crear Nuevo Administrador</b></a></p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="text-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> |
                </td>
            </tr>
        }
    </tbody>
</table>