@model tp_nt1.Models.Cliente

@{
    ViewData["Title"] = "Eliminar";
}

<h4 class="text-center"><b>Eliminar Cliente</b></h4>
<br />

<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-body">

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong> ¿Deseas continuar?</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Dni)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Dni)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Apellido)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Direccion)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Username)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Username)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Rol)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Rol)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FechaAlta)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FechaAlta)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
                <a class="btn btn-outline-dark" asp-action="Index"> Cancelar </a>
            </form>

        </div>
    </div>
</div>