@model IEnumerable<tp_nt1.Models.StockItem>

@{
    ViewData["Title"] = "Stock";
}

<a class="btn btn-outline-dark" asp-action="AgregarStock"><b>Agregar Stock</b></a>
<hr />

<h4><b>Stock Por Sucursal</b></h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Sucursal
            </th>
            <th>
                Producto
            </th>
            <th>
                Cantidad
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-outline-danger" asp-action="Eliminar" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
