@model tp_nt1.Models.Sucursal

@{
    ViewData["Title"] = "Eliminar";
}

<h4 class="text-center"><b>Eliminar Sucursal</b></h4>
<br />

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Advertencia:</strong> Para eliminar este registro, no puede tener productos en su stock ¿Deseas continuar?
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                </dl>

                <div class="text-danger">
                    @ViewBag.MensajeError <b> @ViewBag.stock </b>
                    <br />
                </div>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
                    <button type="button" class="btn btn-outline-dark" onclick="history.back();">Volver</button>
                </form>

            </div>
        </div>
    </div>
</div>